body {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif; /* Семейство шрифтов */
    color: #ffffff; /* Цвет основного текста */ 
    text-decoration-color: #000000;
}
